@import "@styles";

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  height: 100px;
}

.footerFont {
  display: flex;
  height: 10px;
  margin: 0;
  opacity: 0.4;
  @include font($font-family, "normal", 10px, 10px, 20px, "rgb(60, 60, 60)");

  > span {
    padding: 0 5px;
    font-weight: 600;
  }
}
