@import "@styles";

.addNewTodo {
  display: flex;
  padding: 15px 0px 15px 0px;
  @include font($font-family, "normal", 30px, 4px, 40px, $black-color);
  text-align: center;
  border: none;
  border-bottom: 1px solid $grey-color;
  box-shadow: 0 1px 9px 5px rgba(0, 0, 0, 0.2);
  @media screen and (max-width: 800px){
    font-size: 25px;
    padding: 5px 0px 5px 0px;
  }
  

  &:focus {
    outline: none;
  }
}
