@import "../../../../../styles/index.scss";

.conteiner {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 40px;
  padding: 10px 20px 0;
  font-weight: 600;
  @include font($font-family, "normal", 12px, 4px, 40px, $grey-dark-color);

  .filter {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 200px;

    .filterItem {
      display: flex;
      padding: 5px;
      border: 2px solid #fff;
      border-radius: 5px;
      cursor: pointer;

      &:hover {
        border: 2px solid #ada7a7;
      }
    }

    .filterItemOn {
      display: flex;
      padding: 5px;
      border: 2px solid #ada7a7;
      border-radius: 5px;
      cursor: pointer;

      &:hover {
        border: 2px solid #ada7a7;
      }
    }
  }

  .clearComleted {
    &:hover {
      text-decoration: underline;
      cursor: pointer;
    }
  }
}
