@mixin font($family, $style, $size, $width, $height, $color) {
  height: $height;
  color: $color;
  font-weight: $width;
  font-size: $size;
  font-family: $family;
  font-style: $style;
}

@mixin full-screen {
  width: 100%;
  height: 100%;
}
