@import "@styles";

.conteiner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 60px;
  padding: 5px;
  border: 1px solid rgba(0, 0, 0, 0.20);

  .checkBox {
    display: flex;
    align-items: center;
    width: 40px;
    height: 40px;
    background-image: url("../../../../../../../../pictures/checBox.png");
    cursor: pointer;
    appearance: none;
  
  }

  .checkBoxOn {
    display: flex;
    align-items: center;
    width: 40px;
    height: 40px;
    background-image: url("../../../../../../../../pictures/checBoxOn.png");
    cursor: pointer;
    appearance: none;
  }

  &:hover {
    button {
      visibility: visible;
      cursor: pointer;
    }
  }

  button {
    color: inherit;
    background: none;
    border: none;
    visibility: hidden;
    opacity: 0.5;
    @include font($font-family, "normal", 20px, 10px, 20px, $pink-color);

    &:hover {
      color: rgb(255, 0, 0);
    }
  }

  .todoTitle {
    display: flex;
    align-items: center;
    width: 70%;
    max-width: 430px;
    padding: 5px 20px;
    border: none;
    @include font($font-family, "normal", 30px, 4px, 40px, $grey-dark-color);
  }

  .todoTitleOn {
    display: flex;
    align-items: center;
    width: 70%;
    max-width: 430px;
    padding: 5px 20px;
    text-decoration: line-through;
    border: none;
    @include font($font-family, "normal", 30px, 4px, 40px, $grey-color);
  }
}
.todoTitleInput{
  display: flex;
  height: 100px;
  width: 400px;
  padding: 5px 65px 10px;
  @include font($font-family, "normal", 30px, 4px, 40px, $grey-dark-color);
  
  border: none;
  border-bottom: 1px solid $grey-color;
  box-shadow: inset 2px 2px 2px rgba(0, 0, 0, 0.2), 2px 2px 2px rgba(0, 0, 0, 0.2);
  cursor: default;

  &:focus {
    outline: none;
  }
}